{% from "_formhelper.html" import render_field %}
extends base/layout
block title
  title {{th.title|e}} | {{config.BASETITLE}} 
block head
block main
  #main
    .breadcrumb
      a(href="/") {{config.BASETITLE}}
      |  >  
      a(href="/treehole") 树洞
    #content
      include treehole/info
      .box
        .box-content
          .topic-detail
            h1.title 
              {{th.title|e}}
            .info 
                span
                    i.fa.fa-user
                    |匿名
                span
                  i.fa.fa-clock-o 
                  | {{th.create_time|timesince}}
                span
                  i.fa.fa-comment-o
                  | {{th.comment_count}}
                span
                  i.fa.fa-bar-chart-o
                  | {{th.hits}}


            p.main-content {{th.content|content}} 
            .div(style="margin:20px 0px;font-size:12px")
                a.light-btn.btn1(href="http://service.weibo.com/share/share.php?title={{th.title|e}}&url={{config.BASEURL}}treehole/{{th.id}}")
                  .fa.fa-weibo
                  分享微博

      if th.comment_count >0
        h4
            | 共有{{th.comment_count}}条评论
        #comment.comment-list
            for c in comments
              .item(id="comment-{{loop.index}}")
                .detail
                  .info
                      span
                          i.fa.fa-user
                          |匿名
                      span
                        i.fa.fa-bar-chart-o
                        {{c.create_time|timesince}}
                      span
                        i.fa.fa-th-list
                        {{loop.index}}楼
                      if g.admin
                          span ip: {{c.ip}} 
                          span
                            a(href="/admin/treecommentview/edit/?id={{c.id}}") 
                              i.fa.fa-edit
                              |评论
                  p.main-content {{c.content|content}}
      
      .box.comment-add
        .box-title
          |添加新的讨论
        .box-content
          .regform
            form.light-form(action="/treehole/{{id}}",method="POST")
              if g.user
                {{form.csrf_token }}
                {{form.content(id="comment-content")}}
                if form.content.errors
                  p(style="color:#f00")
                    for error in form.content.errors
                      {{error}}
                button.light-btn.btn1 提交
              else
                a.light-btn.btn1(href="/login") 登陆
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                a.light-btn.btn2(href="/register") 注册
        .box-footer
          h4 回复话题的一些规则
          p <a href="/node/guide">请认真阅读社区指南这个节点的文章</a>
               
    #aside
      include base/my
