.treehole-info(style="background-image:url(http://i.v2ex.co/TeDc0qJB.jpeg)")
  h2 树洞是一个匿名发言的地方
  p "不断了解其他人的生活正在发生什么(但实际上并没有真正地了解事情的全貌，只获得一些精彩镜头集锦)的这种想法创造了一种环境，在这种环境中人们可能觉得其他人的生活比他们实际上好得多。这种环境能创造一个缺乏同情心的世界，或者使人们感到更加被分离，或者使人们感到更加被孤立。而这就促使我们想要创建一种活动，通过这种活动人们可以实现匿名互动的愿望。"  ---迈克尔•海沃德
  p
    a.light-btn.btn1(href="/treehole/new") 把秘密告诉树洞
