extends base/layout
block title
  title 使用instagram的成员 | {{config.BASETITLE}} 
block head
block main
  #main
    .breadcrumb
      a(href="/") {{config.BASETITLE}}
      |  >  
      a(href="/looking/instagram") 使用instagram的成员
    #content
      include looking/subnav
      .box
        .box-title 使用instagram的成员
        .box-content
          .looking-list
            for m in members.items
              .item
                .avatar
                  a(href="/member/{{m.id}}")
                    {{m|avatar}}
                .info
                  p 
                    a(href="/member/{{m.id}}/looking")
                      b {{m.username}}
                  p
                    a(href="{{m.instagram|e}}") 
                      i.fa.fa-instagram
                      |{{m.instagram|e|replace("http://instagram.com/","")}}

      if members.has_prev or members.has_next
        .page
          if members.has_prev
            a.left.light-btn.btn1(href='/looking/instagram/page/{{topics.prev_num}}') 上一页
          if members.has_next
            a.right.light-btn.btn1(href='/looking/instagram/page/{{topics.next_num}}') 上一页
    #aside
      include base/my.jade
    
