{% from "_formhelper.html" import render_field %}
extends base/layout
block title 
  title 交友信息设置 | {{config.BASETITLE}} 
block head
  script(src="http://cdn.staticfile.org/webuploader/0.1.1/webuploader.min.js")
  style
    .webuploader-container {
      position: relative;
    }
    .webuploader-element-invisible {
      position: absolute !important;
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px,1px,1px,1px);
    }
    .webuploader-pick {
      position: relative;
      display: inline-block;
      cursor: pointer;
      background: #00b7ee;
      padding: 10px 15px;
      color: #fff;
      text-align: center;
      border-radius: 3px;
      overflow: hidden;
    }
    .webuploader-pick-hover {
      background: #00a2d4;
    }

    .webuploader-pick-disable {
      opacity: 0.6;
      pointer-events:none;
}

block main
  #main
    .breadcrumb
      a(href="/") {{config.BASETITLE}}
      |  >  
      a(href="/looking-setting") 交友信息设置
    #content
      include base/flash.html
      include submenu
      if look
        if look.server_active 
          .looking-status.success(style="padding:10px;margin-bottom:20px") 上传成功
        else
          .looking-status.warning(style="margin-bottom:20px") 请认真填写资料，上传真实清晰的个人照片
      .box
        .box-title
          | 设置详细信息
        .box-content
          .regform

            h3
              i.fa.fa-exclamation-circle 
              |请上传图片尺寸大于500x500像素的真实本人照片,并认真填写下面的内容
            .light-form
              if look
                .group
                  .text
                  .input-item
                    img.qiniuimg(style="width:100px",src="http://bearwave.qiniudn.com/{{look.photo}}-looking")
              else
                .group
                  .text
                  .input-item
                    img.qiniuimg(style="width:100px",src="http://bearwave.qiniudn.com/avatar.png-avatar")
              .group#photoerror(style="display:none")
                .tips
                  h2(style="color:#b94a48;") 你还没有成功上传照片
              .group
                .text
                  上传头像
                  br
                .input-item
                  #filePicker 选择图片
        .box-footer
          .regform
            form.light-form(action="/looking/setting",method="POST")
              {{form.csrf_token }}
              {{render_field(form.find_active)}}
              {{render_field(form.age)}}
              {{render_field(form.height)}}
              {{render_field(form.weight)}}
              {{render_field(form.like)}}
              {{render_field(form.info)}}
              .group
                .tips 简短的介绍下自己，什么特殊爱好特殊要求都可以写在这里
              .div(style="display:none")
                {{render_field(form.photo)}}
              .line
              h3 
                i.fa.fa-exclamation-circle 
                |大家平时都很忙没时间跟陌生人介绍自己，如果大家都去认真填写下面的项目就能很方便的了解彼此,为了让"寻"这个功能变得更加有效,至少要完整填写3个栏目
              {{render_field(form.question1)}}
              .group
                .tips 比如：打游戏，拍照，养宠物
              {{render_field(form.question2)}}
              .group
                .tips 给具体几个名字，比如：Lady Gaga , 周杰伦，The Smiths 
              {{render_field(form.question3)}}
              .group
                .tips 给具体几个名字，比如：大鱼 , 搏击俱乐部，嗜血法医 
              {{render_field(form.question4)}}
              .group
                .tips 给具体几个名字，比如:齐泽克,韩寒,aiweiwei
              {{render_field(form.question5)}}
              .group
                .tips 比如:拥有一个属于自己的房子，玩一次3p，裸奔一次
              {{render_field(form.question6)}}
              .group
                .tips 比如:跟小孩子纠缠在一起，抽烟，玩微博勾搭人
              .line
              .group
                .text  
                .input-item
                  button.light-btn.btn1 提交


    #aside
      include base/my
  script
    (function( $ ){
    var uploader = WebUploader.create({

        // 选完文件后，是否自动上传。
        auto: true,

        // swf文件路径
        swf: 'http://cdn.staticfile.org/webuploader/0.1.1/Uploader.swf',

        // 文件接收服务端。
        //server: 'http://webuploader.duapp.com/server/fileupload.php',
        server: 'http://up.qiniu.com',

        // 选择文件的按钮。可选。
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
        pick: '#filePicker',

        // 只允许选择图片文件。
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/*'
        },
        // 用来扩展一个添加上qiniu的token，这个可以用后端语言来生成!!!!!
        formData: {
          'token':'{{qiniutoken}}'
        }
    });
    uploader.on( 'uploadError', function( file ) {
      alert("error")
    });
    uploader.on( 'uploadSuccess', function( file ) {
    //-console.log("uploadSuccess")
    });
    // uploadaccept 这个事件才可以拿到qiniu返回的数据 这时已经上传成功!!!!
    uploader.on( 'uploadAccept', function( file, response ) {
      //-console.log(response.hash)
        $("#photo").val(response.hash)
        $(".qiniuimg").attr("src","http://bearwave.qiniudn.com/"+response.hash+"-avatar")
    });
    if($("#photo").next().text() != ""){
      $("#photoerror").css("display","block")  
    }
    })( jQuery );


