.subnav
  if "/instagram" not in request.path and "/twitter" not in request.path
    a.btn.active(href="/looking") 照片
  else
    a.btn(href="/looking") 照片
  if '/instagram' in request.path
    a.btn.active(href="/looking/instagram") instagram用户
  else
    a.btn(href="/looking/instagram") instagram用户

  if '/twitter' in request.path
    a.btn.active(href="/looking/twitter") twitter用户
  else
    a.btn(href="/looking/twitter") twitter用户
