#footer
    p.footlink
      a(href="/page/about") 关于
      a(href="/page/faq") 常见问题
      a(href="/page/ourwish") 我们的意愿
      a(href="/page/joinus") 加入我们
    p
      {{config.BASETITLE}} beta version 0.4
    p
      |页面打开用了 <-timer-> sec

if config.DEV
  script
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fbb53d58298f564470464a73894fd7a22' type='text/javascript'%3E%3C/script%3E"));
