if g.user
  .box.my.show-d
    .box-title
        {{g.user.username}}
    .box-content
      p
        a(href="/my/favuser") 
          i.fa.fa-users
          特别关注  
      p
        a(href="/my/favtopic") 
          i.fa.fa-thumbs-up
          收藏的话题
      p
        a(href="/my/favnode") 
          i.fa.fa-leaf
          收藏的节点
    .box-footer(style="font-size:12px")
      a.light-btn(href="/node/mix/new") 发布话题
      | &nbsp;&nbsp;
      a.light-btn(href="/treehole/new") 有话告诉树洞


else 
  .box.my.show-d
    .box-title
      | 关于{{config.BASETITLE}} 
    .box-content
      p(style="font-size:12px;font-weight:bold") {{config.BASETITLE}}是一个熊族的同性社区，{{config.BASETITLE}}的成员们会让他保持一个轻松和谐的氛围，在这里分享,发现有趣的事物,结交有趣的朋友。
      p(style="font-szie:11px")
        a.light-btn(href="/page/about") 了解更多
        |  
        a.light-btn.btn1(href="/register") 注册


