@media(max-width:767px)
  .header
    min-width 0px
    .nav
      border-bottom 1px solid #f2f2f2
      clear both
      float none
      overflow hidden
      ul
        li
          a
            padding 10px

    .userpanel
      clear both
      text-align left
      float none
  .talkcover
    min-width 0px
    min-height 300px
    .title
      font-size 12px
      position static
      width 98%
      margin 0 auto
      padding-top 140px
  .index
    width 98%
    .box
      float none
      width 100%
  #footer
    min-width 0px
  #main
    width 98%
  #content
    float none
    width 100%
    padding 0px
  #aside
    float none
    width 100%
    padding 0px
  .light-form
    .group
      .text
        width 100%
        float none
        text-align left
      .input-item
        float none
        width 100%
      .errors
        padding-left 0px
        width 100%
  .regform
    textarea
      width 100%
  .allnode
    .item
      width auto
      display inline-block
      padding 5px
      p
        display none
    br
      display none
  .topic-detail
    .title
      font-size 18px
  .node-info
    .avatar
      width 80px
      a
        width 80px
    .detail
      margin-left 90px
