{% from "_formhelper.html" import render_field %}
extends base/layout
block title
  title {{config.BASETITLE}} - 添加新的话题
block head
block main
  #main
    .breadcrumb
      a(href="/") {{config.BASETITLE}}
      |  >  
      a(href="/node") 节点
      |  >  
      a(href="/node/{{node.slug}}") {{node.name}}
      |  >  
      添加新话题
    #content
      .box
        .box-content
          include node/nodeinfo
      .box
        .box-title
          | 添加新的话题
        .box-content
          .regform
            form.light-form(action="/node/{{node.slug}}/new",method="POST")
              {{form.csrf_token }}
              div(style="margin-bottom:5px")
                {{form.title(placeholder="输入标题")}}
              div(style="margin-bottom:5px")
                {{form.content(id="topic-content",style="min-height:240px",placeholder="输入文章内容")}}
              button.light-btn.btn1 发表
        .box-footer
          h4 如何创建新话题
          h1 <a href="/node/guide">请发布话题以前认真阅读社区指南这个节点的文章</a>
          h2 选择合适的节点
          p 把话题发布在对应节点可以让其他成员更容易看到，如果不确定自己要发布的话题属于什么节点就发布在<a href="/node/mix">大杂烩</a>节点，管理员会帮您转移到对应节点，如果觉得bearwave缺少一些有用的节点 可以在<a href="/node/bearwave">bearwave</a>节点申请创建
          h2 有信息量的社区
          p 需要大家一起努力：公平 友善 尊重他人


    #aside 
      include base/my
      if node.aside
        {{node.aside}} 
