extends base/layout
block title
  title {{config.BASETITLE}} - 最近更新的成员
block head
block main
  .find-members
    .subnav
      a.btn(href="/find") 最近更新
      //-a.btn(href="/find/near") 附近
      //-a.btn(href="/find/likebear") 熊
    .members
      for m in members.items
        .member
          img(src="{{config.SURL}}upload/find/{{m.photo}}")
          .info
            p 
              b {{m.username}}
              |  
              span {{m.age}}岁-{{m.height}}cm-{{m.weight}}kg
              |  
              span 喜欢的类型:
                if m.like == 0
                  |全部
                if m.like == 1
                  |偏瘦
                if m.like == 2
                  |偏胖
                if m.like == 3
                  |很重
            p {{m.findinfo}}


    
