{% from "_formhelper.html" import render_field %}
extends base/layout
block title 
  title {{config.BASETITLE}} - 忘记密码
block main
  #main
    .breadcrumb
      a(href="/") {{config.BASETITLE}}
      |  >  
      span  忘记密码
    #content
      include base/flash.html
      .box
        .box-title
          | 忘记密码
        .box-content
          .regform
            form.light-form(action="/forgetpassword",method="POST")
              {{form.csrf_token }}
              {{render_field(form.email) }}
              {{render_field(form.username) }}
              if error
                .group
                  .text  
                  .input-item
                    .errors
                      {{error}}

              .group
                .text  
                .input-item
                  button.light-btn.btn1 提交
    #aside
      include base/my
