extends base/layout
block title
  title {{config.BASETITLE}} - 首页
block head
  if config.DEV
    script(src='{{config.SURL}}static/js/swipe.js') 
  else
    script(src='http://cdn.staticfile.org/swipe/2.0/swipe.min.js')
  script.
    $(document).ready(function(){
      window.mySwipe = new Swipe(document.getElementById('slider'), {
        speed: 1500,
        auto: 6000,
        continuous: true,
        callback: function(index, elem) {}
      });
    })
block main
  //-.slider
              h1 {{config.BASETITLE}}
              h2 分享 发现 思考 交流
 
  .index
    #content
      .box
        //-.box-title 访谈
        .box-content(style="overflow:hidden;")
          #slider.swipe
            .swipe-wrap
              for t in interviews
                .swipe-item(style='background-image:url({{t.cover}})')
                  .text
                    h2 
                      a(href="/interview/{{t.absurl}}") {{t.title | e}}
                    p.time
                      {{t.create_time|time}}
                    //-p {{t.content |striptags| truncate(220,Ture, end='...')}}
                    //-p
                      //-a(href="/interview/{{t.absurl}}") 继续阅读
        .box-footer(style="text-align:right")
          #swipe-index 
            span 1
            span 2
            span 3
          a(href="/interview") 更多访谈

      .box
        .box-title 话题
        .box-content
          for t in topics
            .index-item
              .text(style="padding-left:0px")
                h2
                  a(href="/topic/{{t.id}}") {{t.title | e}}
                p {{t.content |striptags| truncate(120, True,end='...')}}
        .box-footer(style="text-align:right")
          a(href="/recent") 更多话题
    #aside
      include base/my
      .box
        .box-title 节点
        .box-content
          for n in node
            .index-node
              img(src="{{n.avatar}}")
              .text
                h3
                  a(href="node/{{n.slug}}") 
                    if n.node_type == 2
                      .fa.fa-lock
                    {{n.name|e}}
                p
                  {{n.description|e}}
                p 共有{{n.topic_count}}话题



   

             
