extends base/layout
block title
  title {{config.BASETITLE}} - 全部节点
block main
  #main
    .breadcrumb
      a(href="/") {{config.BASETITLE}}
      |  >  
      a(href="/node") 全部节点
    #content
      .box
        .box-title 全部节点
        .box-content
          .allnode
            for n in nodes
              .item
                h3 
                  a(href="/node/{{n.slug}}") {{n.name | e }}
                p.time 创建于{{n.create_time|time}}
                p {{n.description|e}}

              if loop.index%3 ==0
                br
    #aside           
      .box
        .box-title
          关于增加新的节点
        .box-content
          p 如果你对{{config.BASETITLE}}的节点栏目有好的建议可以发邮件给我们
            a(href="mailto:{{config.EMAIL}}") {{config.EMAIL}}
          p 目前为了保证社区氛围还是以人工的方式添加新的节点


      
