extends base/layout
block title
  title 消息提醒 | {{config.BASETITLE}} 
block head
block main
  #main
    .breadcrumb
      a(href="/") {{config.BASETITLE}}
      |  >  
      span  最近的提醒
    #content
      .box
        .box-title
          | 最近的提醒
        .box-content
          for n in notis.items
            if n.n_type == 1
              .notification
                    p.title  
                      a(href="/member/{{n.action_id}}") 
                        i.fa.fa-user
                        {{n.action.username}} 
                      | {{n.create_time|timesince}} 
                      |在你发表的话题 
                      b
                        a(href="/topic/{{n.topic_id}}") {{n.title | e}}
                      |  中回复到:
                    p.content 
                        {{n.content|content}}
            if n.n_type == 2
              .notification
                    p.title  
                      a(href="/member/{{n.action_id}}")  
                        i.fa.fa-user
                        {{n.action.username}} 
                      | {{n.create_time|timesince}} 
                      |  在回复话题 
                      b
                        a(href="/topic/{{n.topic_id}}") {{n.title | e}}
                      |  时提到你:
                    p.content 
                        {{n.content|content}}
            if n.n_type == 3
              .notification
                    p.title  
                      a(href="/member/{{n.action_id}}")  
                        i.fa.fa-user
                        {{n.action.username}} 
                      | {{n.create_time|timesince}} 
                      | 发表了新话题: 
                      b
                        a(href="/topic/{{n.topic_id}}") {{n.title | e}}
                      |  时提到你:
                    p.content 
                        {{n.content|content}}
                      
      if notis.has_prev or notis.has_next
        .page
          if notis.has_prev
            a.left.light-btn.btn1(href='/notification/page/{{notis.prev_num}}') 上一页
          if notis.has_next
            a.right.light-btn.btn1(href='/notification/page/{{notis.next_num}}') 下一页
    #aside
      include base/my.jade

