{% from "_formhelper.html" import render_field %}
extends base/layout
block title 
  title 设置 | {{config.BASETITLE}} 
block main
  #main
    .breadcrumb
      a(href="/") {{config.BASETITLE}}
      |  >  
      a(href="/setting") 个人设置
    #content
      include base/flash.html
      .box
        .box-title
          | 个人设置
        .box-content
          .regform
            form.light-form(action="/setting",method="POST")
              {{form.csrf_token }}
              {{render_field(form.city)}}
              {{render_field(form.description)}}
              br
              {{render_field(form.weixin)}}
              {{render_field(form.other1)}}
              .line
              .group
                .text
                .input-item
                  网站的地址必须以http://开头

              {{render_field(form.website)}}
              {{render_field(form.weibo)}}
              {{render_field(form.instagram)}}
              {{render_field(form.flickr)}}
              {{render_field(form.twitter)}}
              {{render_field(form.renren)}}
              {{render_field(form.facebook)}}
              .group
                .text  
                .input-item
                  button.light-btn.btn1 提交
    #aside
      include base/my
